# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work

# IDE specific files
.idea/
*.iml
*.swp
.vscode/

# Ignore .dbdata directory and its contents
.dbdata

# Ignore specific file in .dbdata
.dbdata/ib_buffer_pool

# Ignore specific directory in .dbdata 
.dbdata/cache

# Ignore all files with .log extension in .dbdata
.dbdata/*.log